button.selected {
  background: #a5b4fc;
  border-color: #a5b4fc;
  color: #1c2127;
}

button.check-btn:focus {
  outline:0 none;
  outline-offset:0;
  box-shadow: 0 0 0 2px #1c2127, 0 0 0 4px rgba(165 180 252 / 70%), 0 1px 2px 0 transparent;
  border-color:#a5b4fc;
}